* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: MomcakeThin;
  src: url("./fonts/MomcakeThin-9Y6aZ.otf");
}

@font-face {
  font-family: QuickKiss;
  src: url("./fonts/QuickKissPersonalUse-PxlZ.ttf");
}

#particles-js{
  width: inherit!important;
  height: inherit!important;
}

nav {
  position: fixed;
  display: flex;
  background-color: #282726;
  width: 100%;
  z-index: 999;
}

.nav-active {
  text-decoration: underline !important;
  color: #facc5f !important;
}

#logo {
  font-family: QuickKiss, cursive;
  color: #facc5f;
  font-size: 32px;
  text-decoration: none;
  margin-left: 10vw;
  padding: 15px;
}

.nav-a {
  font-family: MomcakeThin;
  font-size: 32px;
  text-decoration: none;
  margin-left: 30vw;
  padding: 20px;
}

.links {
  color: #f8f3ec;
  text-decoration: none;
  padding: 10px;
}

.links:hover {
  color: #facc5f;
}

#home,
#skills,
#projects {
  width: 100%;
  height: 100vh;
  background-color: #282726;
}

.homeText {
  position: absolute;
  top: 45%;
  left: 20%;
  width: 70vw;
}

.name {
  color: #facc5f;
  font-family: MomcakeThin, sans-serif;
  font-weight: lighter;
  font-size: 90px;
  text-decoration: underline;
}

.desc1,
.desc2 {
  color: #f8f3ec;
  font-family: MomcakeThin, sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.cv {
  margin-top: 10px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #282726;
  color: #f8f3ec;
  border: 2px solid #facc5f;
  cursor: pointer;
}

.cv:hover {
  background-color: #facc5f;
  color: #282726;
  border: 2px solid #facc5f;
}

.skillsDiv {
  position: relative;
  color: #f8f3ec;
  font-family: MomcakeThin, sans-serif;
  font-weight: 300;
  top: 20%;
  left: 10vw;
  width: 80vw;
}

.technologies {
  width: 80vw;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tech-img {
  width: 120px;
  cursor: pointer;
}

.tech-img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.projectDiv {
  position: relative;
  color: #f8f3ec;
  font-family: MomcakeThin, sans-serif;
  font-weight: 300;
  top: 15%;
  left: 10%;
  width: 80vw;
  height: 70vh;
}

.projectsList {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.proj-row {
  display: flex;
  justify-content: space-around;
}

.proj {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  border-radius: 20px;
  background: #282726;
  box-shadow: 5px 5px 15px #201f1e, -5px -5px 15px #302f2e;
  width: 350px;
  height: 200px;
  padding: 20px;
}
.proj h2 {
  color: #facc5f;
}

.proj p {
  font-size: 14px;
}
.proj:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.lang {
  position: relative;
  top: 40%;
}

.lang ul li {
  display: inline;
}

.lang ul li::before {
  content: "• ";
}

.lang a {
  font-size: 18px;
  text-decoration: none;
  color: #facc5f;
  float: right;
  position: relative;
  top: -25px;
}

.lang button {
  border-radius: 5px;
  width: 60px;
  height: 30px;
  background-color: #282726;
  color: #f8f3ec;
  border: 2px solid #facc5f;
  cursor: pointer;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background-color: #facc5f;
}

.contact-img {
  width: 40px;
  cursor: pointer;
}
.contactDiv {
  display: flex;
  justify-content: space-around;

  width: 20vw;
}

.contactDiv2 a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #282726;
}

.contactDiv2 a:hover {
  text-decoration: underline;
}

.contactDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  margin-top: 30px;
}

.end {
  font-family: Arial, Helvetica, sans-serif;
  color: #282726;
  margin-top: 30px;
}

.nav-phone{
  display:none;
}
.mobile-links{
  display: none;
}
.dflex{
  display: none;
}
.mob-links{
  display: none;
}

@media only screen and (max-width: 1024px) {
  #logo {
    font-size: 30px;
  }
  .nav-a {
    font-size: 30px;
    margin-left: 20vw;
  }

  .name {
    font-size: 70px;
  }

  .desc1,
  .desc2 {
    font-size: 25px;
  }
  .technologies{
    height: 25vh;
  }
  .tech-img{
    width: 100px;
  }
}


@media only screen and (max-width:896px){
  #logo {
    font-size: 25px;
  }
  .nav-a {
    font-size: 25px;
    margin-left: 20vw;
  }
  .name {
    font-size: 60px;
  }

  .desc1,
  .desc2 {
    font-size: 25px;
  }
  .technologies{
    height: 20vh;
  }
  .tech-img {
    width: 90px;
  }
  .contactDiv2 {
    width: 80vw;
  }
  .proj {
    width: 300px;
    height: 200px;
    padding: 20px;
  }
}

@media only screen and (max-width:768px){
  #logo {
    font-size: 22px;
  }
  .nav-a {
    font-size: 22px;
  }
  .proj {
    width: 275px;
    height: 200px;
  }

  .proj h2 {
    font-size: 18px;
   }
   
   .proj p {
     font-size: 12px;
   }
   .lang ul li {
     display: inline;
     font-size: 14px;
   }
   
   .lang ul li::before {
     content: "• ";
   }

   .lang button {
     border-radius: 5px;
     width: 40px;
     height: 25px;
     font-size: 12px;
   }
}

@media only screen and (max-width:700px) {
  #logo {
    font-size: 20px;
  }
  .nav-a{
    display: none;
  }
  .nav-phone{
    display: block;
  }
  .menu{
    width: 24px;
    margin-left: 50vw;
    margin-top: 15px;
    cursor:pointer;
  }
  .mobile-links{
    display: none;
    flex-direction: column;
    position: absolute;
    top:10vh;
    right:60vh;
  }
  .mob-links{
    padding: 10px;
    display: block;
    color: #f8f3ec;
    text-decoration: none;
    font-family: MomcakeThin,sans-serif;
    font-size: 18px;
  }
  .lang {
    position: relative;
    top: 30%;
  }
  .proj h2 {
   font-size: 18px;
  }
  
  .proj p {
    font-size: 14px;
  }
  .proj {
    width: 350px;
    height: 170px;
    padding: 20px;
  }
  .lang ul li {
    display: inline;
    font-size: 14px;
  }
  
  .lang ul li::before {
    content: "• ";
  }
  
  .lang button {
    border-radius: 5px;
    width: 40px;
    height: 25px;
    font-size: 12px;
  }
  .proj-row{
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #projects{
    height: 150vh;
  }
  .projectDiv {
    top: 10%;
    height: 100vh;
  }
  
  .projectsList {
    width: 80vw;
    height: 120vh;
    align-items: center;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: #facc5f;
  }
  
  .contact-img {
    width: 32px;

  }
  .contactDiv {
    width: 25vw;
  }
  
  .contactDiv2 a {
    font-size: 16px;
  }
  
  .contactDiv2 a:hover {
    text-decoration: underline;
  }
  
  .contactDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin-top: 30px;
  }
  
  .tech-img{
    width: 70px;
  }
}

.phone-drop-down{
  height: 30vh;
}

.dflex{
  display: flex;
}

@media only screen and (max-width:600px){
  .mobile-links{
    top:10vh;
    right:50vh;
  }
  .mob-links{
    font-size: 16px;
  }
}

@media only screen and (max-width:550px){
  .mobile-links{
    top:10vh;
    right:40vh;
  }
  
  .name {
    font-size: 50px;
  }
  
  .desc1,
  .desc2 {
    font-size: 20px;
  }
}

@media only screen and (max-width:450px){
  .menu{
    margin-left: 40vw;
  }
  .tech-img{
    width: 50px;
  }
}